// /* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: serif;
  font-size: 2.25rem;
}


.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

.content  .conceal{
    opacity: 0.5;
}

.footnote-definition{
    margin:1rem;
}
.footnote-definition p{
    margin: 0;
    display: inline;
}

.go-back-icon{
    color: gray;
}




@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}
