{% extends "index.html" %}
{% block extra_head %}
{{ super() }} 
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<meta name="twitter:card" content="summary" /> 
<!-- <meta name="twitter:site" content="@Ikkaidoh_Yoh" /> -->
<meta property="og:url" content="{{ page.permalink }}"/> 
<meta property="og:title" content="{{page.title}}" /> 
<meta property="og:description" content="{{ page.summary }}"/>
<meta property="og:image" content="{{config.base_url}}/global/thumbnail.jpg" /> 
{% endblock extra_head %}
{% block content %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
  {{ page.content | safe }}
</div>
<div class="comment">
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
    this.page.url = "{{ page.permalink }}";
    this.page.identifier = "{{page.title}}";
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://https-drivingmecrazy-netlify-app-blog.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endblock content %}

